.toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            + .slider {
                &:before {
                    background-color: var(--active);
                    transform: translateX(22px);
                }
            }
        }

        &:disabled {
            + .slider {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        &:focus-visible {
            + .slider {
                outline: 2px solid var(--primary);
                outline-offset: 2px;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bg-primary);
        transition: .3s;
        border-radius: 9999px;
        border: 1px solid var(--border-secondary);

        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: var(--text-primary);
            transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
}
