.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    background-color: var(--bg-primary);
    padding-top: var(--space-lg);
    
    .content {
        width: 100%;
        padding-inline: var(--app-padding);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            flex-direction: column;
            line-height: normal;
            font-size: var(--font-size-lg);
            color: var(--text-secondary);
        }
    }
}