# Database Configuration
POSTGRES_DB="tripflow_db"
POSTGRES_USER="tripflow_user"
POSTGRES_PASSWORD="secure_password"

# CORS Configuration
ORIGINS_FRONTEND="http://localhost"

# API Service Secrets
COOKIE_DOMAIN="cub1z.es"
JWT_SECRET="VGhpcyBpcyBhIHZlcnkgc2VjdXJlIGRldmVsb3BtZW50IHNlY3JldCEyMw=="
UNSPLASH_API_KEY="your-unsplash-api-key"
ADMIN_EMAIL="admin@tripflow.com"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="secure_password"

# AI Service Secrets
AI_API_KEY="your-ai-api-key"
AI_API_URL="https://api.openai.com"
AI_API_MODEL="gpt-4o-mini"

# Notification Service Secrets
EMAIL_SENDER="noreply@tripflow.com"
EMAIL_BREVO_API_KEY="your-brevo-api-key"
