.basicInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxl);

    margin-bottom: var(--space-xxxl);
    padding: var(--space-xl);

    background: var(--bg-secondary);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--border-secondary);

    .sectionHeader {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--space-md);

        h3 {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-bold);
            color: var(--text-primary);
        }
    }

    .formGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr, 100%));
        gap: var(--space-lg);
        margin-bottom: var(--space-xl);
    }
}
