@import url("../../animations.css");

.itinerariesPreview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
        gap: var(--space-xxl);
    }

    .itinerary {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        background-color: var(--bg-overlay);
        border-radius: var(--border-radius-lg);
        border: 1px solid var(--border-secondary);
        backdrop-filter: blur(20px);
        overflow: hidden;
        transition: all 0.15s ease-in-out;
        animation: fadeIn calc(var(--index) * 0.15s) ease;

        &:hover {
            transform: scale(1.02);
            filter: brightness(1.05);

            .header .overlay {
                opacity: 1;
            }
        }

        .header {
            position: relative;
            width: 100%;
            min-height: 200px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding: var(--space-xxl);
            font-size: var(--font-size-larger);
            background-image:
                linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
                var(--bg-image);
            background-size: cover;
            background-position: center;

            .overlay {
                position: absolute;
                opacity: 0;
                width: 100%;
                bottom: 0;
                left: 0;
                padding-inline: var(--space-sm);
                padding-block: var(--space-xs);
                font-size: var(--font-size-sm);
                font-weight: var(--font-weight-light);
                color: var(--text-secondary);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: var(--space-xs);
                background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.85) 0%,
                    rgba(0, 0, 0, 0.6) 60%,
                    rgba(0, 0, 0, 0) 100%
                );
                transition: all 0.15s ease-in-out;

                a {
                    margin-left: var(--space-xs);
                    color: var(--text-secondary);
                    font-weight: var(--font-weight-normal);
                    letter-spacing: 0.5px;
                    text-decoration: underline;

                    &:hover {
                        color: var(--text-primary);
                    }
                }
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--space-md);
            color: var(--text-primary);
            padding-inline: var(--space-xxl);

            .title {
                font-size: var(--font-size-xxl);
                font-weight: var(--font-weight-bold);
            }

            .place {
                font-size: var(--font-size-md);
                color: var(--text-secondary);
                font-weight: var(--font-weight-normal);
            }
        }

        .stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            color: var(--text-tertiary);
            font-size: var(--font-size-sm);
            padding-inline: var(--space-xxl);

            .stat {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .tags {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-md);
            margin-top: var(--space-lg);
            padding: var(--space-xxl);
            padding-top: 0;
        }
    }

    .loadMore {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .empty {
        width: 100%;
        padding: var(--space-xl);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-xl);

        font-size: var(--font-size-lg);
        color: var(--text-secondary);
        background: var(--bg-overlay);
        border-radius: var(--border-radius-md);
        border: 1px solid var(--border-secondary);
        animation: fadeIn 0.2s ease;
    }
}
