@import url("../../../animations.css");

.extendedItinerary {
    width: 100%;
    padding-inline: var(--app-padding);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    border-radius: var(--border-radius-xl);
    backdrop-filter: blur(2px);
    animation: 0.3s fadeIn ease;

    .banner {
        min-height: 200px;
        border-radius: var(--border-radius-xl);
    }
}

.tripInfo {
    width: 100%;
    margin-block: var(--space-xl);
    padding: var(--space-lg);
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-xl);
    border: 1.5px solid var(--border-secondary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);

    .item {
        display: flex;
        align-items: center;
        gap: var(--space-md);
        color: var(--text-tertiary);

        span {
            color: var(--text-secondary);
            font-size: var(--font-size-md);
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
}

.dayCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    margin-bottom: var(--space-xl);

    .dayTitle {
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        color: var(--primary);
    }
}

.activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}