.avatar {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius-full);
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--secondary);

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    overflow: hidden;

    &.full {
        --size: 100%;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.icon {
    width: 65%;
    height: 65%;
    color: var(--primary);
}