.button {
    min-height: 42px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm) var(--space-xl);
    color: var(--text-color);

    text-decoration: none;

    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    border-radius: var(--border-radius-md);

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    .label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
    }

    &.withChildren {
        gap: var(--space-md);
    }

    &:disabled {
        cursor: auto;
        opacity: 0.6;
    }
}

.primary {
    border: none;
    font-weight: var(--font-weight-bold);
    background: var(--gradient-primary);
    text-transform: capitalize;

    &:hover {
        filter: brightness(1.20);
    }

    &:disabled:hover {
        filter: none;
    }
}

.secondary {
    border: 1px solid var(--border-secondary);
    background-color: var(--bg-overlay);
    color: var(--text-secondary);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;

    &.danger {
        border: 1px solid var(--error);
        color: var(--error);
    }

    &.info {
        border: 1px solid var(--info-border);
        color: var(--info-text);
    }

    &:hover {
        filter: brightness(1.20);
    }

    &:disabled:hover {
        filter: none;
    }
}

.logo {
    width: max-content;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
    gap: var(--space-sm);
    color: var(--primary-color);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);

    &:hover {
        transform: scale(1.05);
        filter: drop-shadow(var(--glow-blue));
    }
}

.tool {
    --size: 42px;
    height: var(--size);
    width: var(--size);
    border: none;
    background-color: transparent;
    color: var(--text-secondary);
    padding: 0;
    min-height: auto;

    &.wrap {
        height: auto;
        width: auto;
    }

    &:hover {
        color: var(--secondary);
        filter: drop-shadow(var(--glow-blue));
    }
    
    &.danger {
        background: none;
        color: var(--text-secondary);
        border: none;
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;

        &:hover {
            color: var(--error);
            box-shadow: none;
        }
    }
}

.tool_bordered {
    --size: 42px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-secondary);
    background-color: var(--bg-overlay);
    color: var(--text-secondary);

    .label {
        display: none;
    }

    &:hover {
        filter: brightness(1.20);
    }

    &.danger {
        border: 1px solid var(--error);
        color: var(--error);

        &:hover {
            box-shadow: none;
        }
    }
}

.inline {
    position: relative;
    min-height: 0;
    padding: 4px;
    border: none;
    background-color: transparent;
    width: max-content;
    justify-content: flex-start;
    color: var(--primary);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: var(--tertiary);
        border-radius: var(--border-radius-full);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

.route {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    padding-left: var(--space-md);
    gap: var(--space-md);
    color: var(--text-tertiary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    border: 1px solid transparent;
    border-radius: var(--border-radius-md);

    &:active {
        background: none;
    }

    &.active {
        border: 1px solid var(--border-secondary);
        background: var(--bg-secondary);
        color: var(--text-primary);
    }

    &:hover {
        background: var(--bg-secondary);
    }
}

@media (max-width: 864px) {
    .route {
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
        padding: var(--space-sm);
        outline: none;
        box-shadow: none;
        background: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &.active {
            background: none;
            border: none;
            color: var(--text-primary);
        }

        &:hover {
            background: none;
            color: var(--text-primary);
        }

        .label {
            display: none;
        }
    }
}