.searchbar {
    --border-radius: var(--border-radius-lg);

    height: 42px;
    width: calc(100% - var(--app-padding) * 2);
    margin-inline: var(--app-padding);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: all 0.2s ease;

    .input {
        height: 100%;
        border: 1px solid var(--border-secondary);
        border-left: none;
        padding-left: 0;
        background-color: var(--bg-card);
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        transition: all 0.2s ease;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .button {
        color: var(--text-secondary);
        border: 1px solid var(--border-secondary);
        border-right: none;
        background-color: var(--bg-card);
        height: 100%;
        aspect-ratio: 1;
        padding: var(--space-sm);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        cursor: pointer;
        transition: all 0.2s ease;

        @media (hover: hover) {
            &:hover {
                color: var(--text-primary);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &:has(.input:focus) {

        .input,
        .button {
            backdrop-filter: blur(24px);
            border-color: var(--primary);
        }
    }

    @media (hover: hover) {
        &:hover {

            .input,
            .button {
                backdrop-filter: blur(24px);
                border-color: var(--primary);
            }
        }
    }
}